:root {
    font-family: "Lato", sans-serif;
    line-height: 1.5;
    font-weight: 500;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #091219;
    color: white;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --primaryColour: #f67844;
    --secondaryColour: #1d4c74;

    font-size: 18px;
}
* {
    margin: 0;
    padding: 0;
}

ul {
    padding-left: 40px;
}
.logo {
    width: 200px;
    height: 100px;
}

h1 {
    font-size: 48px;
    font-weight: 600;
    color: var(--primaryColour);
}

h2 {
    font-size: 36px;
    font-weight: 600;
}

h3 {
    font-size: 28px;
    font-weight: 600;
}

h4 {
    font-size: 24px;
    font-weight: 500;
}

h5 {
    font-family: "Lato", sans-serif; /* Ensure Lato is applied */
    font-style: italic; /* Apply italic */
    font-size: 18px;
    font-weight: 300;
}

p,
a {
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}
a {
    color: black;
}
a:hover {
    color: #1897fa;
}

a:active {
    text-decoration: underline;
}

/* Navbar*/
.navbarMenu {
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 0 20px;
}
.navbarMenu {
    gap: 32px;
}

/* Button */
.btn {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
}

.primary {
    color: black;
    background-color: var(--primaryColour);
}

.primary:hover {
    background-color: #f09873;
}

.primary:active {
    background-colour: #fb5d1c;
}

.secondary {
    color: white;
    background-color: var(--secondaryColour);
}

.secondary:hover {
    background-color: #307dbf;
}

.secondary:active {
    background-colour: #13324d;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 150px;
    padding-bottom: 150px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 20px;
}

#hero {
    padding: 0 40px;
    justify-content: center;
    align-items: start;
    max-width: 800px;
    height: 80vh;
}

#intro {
    display: flex;
    padding: 10px;
    align-items: center;
    border-radius: 10px 0px 0px 10px;
    background: var(
        --Blue-Purple-Gradient,
        linear-gradient(
            90deg,
            rgba(48, 125, 191, 0.4) -0.16%,
            rgba(189, 0, 255, 0.4) 48.8%,
            rgba(0, 0, 0, 0.25) 99.84%
        )
    );
}
.projectGallery {
    max-width: 800px;
    /* display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, minmax(200px, 650px)); */
}
.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 40px;
    margin-bottom: 70px;
    /* background-color: #f5f8f8; */
    /* background-color: #1e2020; */
    background-color: #2b2e31;
    /* color: black; */
    border-radius: 5px;
    position: relative; /* Make sure positioning context is available for the pseudo-element */
    /* Remove default border */
    border: 5px solid transparent;
    background-clip: padding-box; /* Prevent the background from covering the border */
}
.project::after {
    content: "";
    position: absolute;
    top: -3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
    background: linear-gradient(
        120deg,
        #f67844 0%,
        rgba(189, 0, 255, 0.4) 48.8%,
        rgba(48, 125, 191, 0.4) 99.84%
    );
    border-radius: 5px;
    z-index: -1;
}
.project img {
    width: 100%;
    height: auto;
}

.projectTitle {
    gap: 2px;
}

.projectTitle h3 {
    color: var(--primaryColour);
}
.projectCard {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 20px;
}

.projectInfo * {
    margin-bottom: 10px;
}
#educationAndSkills {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 2fr;
}
.educationCard {
    display: flex;
    flex-direction: column;
    gap: 2px;
    /* width: 280px;
    height: 330px; */
    color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* border-radius: 5px; */
}

.badge {
    width: 200px;
    height: auto;
}

.skillsGallery {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, minmax(120px, 1fr));
}
.skillsCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px;
    background-color: white;
    border-radius: 5px;
    color: black;
}

.skillsCard img {
    width: 80px;
    height: auto;
}
.skillsCard h5 {
    font-style: normal;
}

#contact {
    width: 100%;
    max-width: 600px;
    /* height: 500px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.contactColumn {
    width: 100%;
    flex: 1;
    height: 100%;
    /* background-color: #333333; */
}

.contactForm {
    height: 100%;
    flex: 3;
    display: flex;
    padding: 80px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: black;

    border-radius: 5px;
    background-color: #fdfcfc;
}

.contactForm h2 {
    color: var(--secondaryColour);
}

.contactForm button {
    width: 100%;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.inputContainer input,
.inputContainer textarea {
    display: flex;
    border: none;
    border-radius: 5px;
    padding: 12px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-bottom: 1px solid var(--secondaryColour);
    background: #f2f2f2;
    color: black;
    font-size: 18px;
}

textarea {
    min-height: 80px;
}

.error {
    color: red;
    font-size: 18px;
    display: none;
}

#contactLinkedin {
    display: flex;
    gap: 10px;
    align-items: center;
}

footer {
    background-color: #f2f2f2;
    display: flex;
    color: black;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 20px;
}

.footerContainer {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.footerLinks {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.socialMediaIcon {
    width: 30px;
    height: auto;
}

@media (max-width: 768px) {
    body {
    }

    #hero {
        align-items: center;
    }
}
